<h1>Listing sports</h1>

<table id="sports" class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>

<% @sports.each do |sport| %>
  <tr>
    <td><%= link_to sport.name, leaderboard_path(sport)  %></td>
    <td><%= link_to 'Edit', edit_sport_path(sport) %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Sport', new_sport_path, :class => "btn btn-primary"  %>
